// Theme barsed colo

$green: #47b55d !important;
$gray: rgba(48, 48, 48, 0.664) !important;
$yellow: #fbd82a !important;
$vivid-green: #1de946 !important;
$pink: #f15a29 !important;
$black: #000 !important;
$lipstick: #f15a29 !important;
$white: #ffffff !important;
$purple: #4081d6 !important;

// Theme barsed color class

$light-gray: #f8f8f8 !important;

$light-pink: #f45c75 !important;

//Text Color
$text-gray: #313131 !important;
$text-light-gray: #afafaf !important;
$text-dark-gray: #737373;
